@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


* {
	text-decoration: none;
	list-style: none;
}

body {
	font-size: 17px;
	font-family: 'Noto Sans JP', sans-serif;
	background: #ffffff;
}

p {
	color: #666666;
}

a {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#button-to-top {
  display: inline-block;
  background-color: #000000;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 35px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  	opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  line-height: 50px;
  color: #fff;
}

#button-to-top:hover {
  cursor: pointer;
  background-color: #d99f00;
}

#button-to-top:active {
  background-color: #555;
}

#button-to-top.show {
  opacity: 1;
  visibility: visible;
}

.black-background {
  height: 100vh;
  background: #000000;
  color: #ffffff;
  opacity: 0.6;
  padding: 1%;
}

.white-background {
  padding: 4%;
  background: #ffffff;
}

.counter-white-background {
	background: #ffffff;
	padding: 1%;
	border-radius: 50%;
}

.footer-golden-background {
	padding: 1%;
	background: #fffce3;
}

.golden-background {
	padding: 4%;
	background: #fffce3;
}

.wallpaper {
	background-image: url(../imgs/main_wallpaper.jpg);
	min-height: 100vh;

	@media (min-width: 768px) {
		min-height: 20vw;
	}

	@media (min-width: 1200px) {
		min-height: 400px;
	}

  background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome-message {
  margin-top: 25em;
  text-align: center;
	font-family: 'Lobster', cursive;
}

.welcome-message .message {
  font-size: 80px;
  color: #ffffff;
}

.welcome-message a {
  color: #ffffff;
}

.content {
  padding: 2%;
}

figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.social-media-presence i {
	color: #666666;
	font-size: 40px;
	border: #f2f2f2 2px solid;
	border-radius: 75%;
	padding:3%;
	transition: all 500ms ease;
}

.social-media-presence i:hover {
	background-color: #15C39A;
	color: #ffffff;
	transition: all 500ms ease;
}

.lyrics {
	font-family: 'Dancing Script', cursive;
}

.presentation-date {
	font-family: 'Lobster', cursive;
	color: #d99f00;
}

.under-photo-description {
	height: 50px;
}

.rsvp {
	padding: 2%;
}

.rsvp a {
	color: #ffffff;
	padding: 1%;
	font-size: 20px;
	background: #15C39A;
	text-decoration: none;
	transition: all 500ms ease;
}

.rsvp a:hover {
	background: #d99f00;
}

#heart {
	font-size: 30px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
