$duration: .4s;
$toggled-size : .65;
$color: #3b6902;
$color-light: lighten(#3b6902, 10%);
$nav-text-color: #fff;

/**********************
GLOBAL
***********************/
img {
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}

p {
  font-style: normal;
  text-align: left;
  color: #444;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-light;
}

a:hover {
  text-decoration: none;
  color: $nav-text-color;
}

h1, h2 {
  margin: 0;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}

h1 {
  font-size: 2em;
  letter-spacing: .03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: #999;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen 
  and (min-width : 1201px) {
    padding: 0 15px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto 50px;
  padding: 0 15px;
  overflow: auto;
}

hr {
  height: 2px;
  border: 0;
  background: #eee;
  margin: 0;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

/***************************
END OF GLOBAL
****************************/


/***************************
HEADER & NAVIGATION
****************************/

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0;
  border-bottom: 1px solid darken($color, 1%);
  box-shadow: 0 3px rgba(0,0,0,.1);
  background: $color-light;
  @media only screen and (min-width : 768px) {
    height: 75px;
    border-bottom: 1px solid darken($color, 5%);
    background: linear-gradient(to bottom, $color-light 0%, $color 100%);
  }
  .logo {
    color: $nav-text-color;
    position: absolute;
    margin: 3px 15px;
    @media only screen 
    and (min-width : 768px) {
      margin-top: 16px;
    }
    @media only screen 
      and (min-width : 1201px) {
      margin-left: 0;
    }
  }
  .navicon-button {
    padding: 23px 0;
    margin: 0 15px;
    display: inline-block;
    position: relative;
    float: right;
    -webkit-transition: $duration/2;
    -moz-transition: $duration/2;
    -o-transition: $duration/2;
    transition: $duration/2;
    cursor: pointer;
    user-select: none;
    @media only screen 
    and (min-width : 768px) {
      display: none;
    }
    &.open {
      -webkit-transform: scale($toggled-size);
      -moz-transform: scale($toggled-size);
      -ms-transform: scale($toggled-size);
      -o-transform: scale($toggled-size);
      transform: scale($toggled-size);
      &:not(.steps) .navicon:before,
      &:not(.steps) .navicon:after {
        top: 0 !important;
      }
      .navicon {
        background: transparent;
        &:before, &:after {
          -webkit-transition: $duration;
    -moz-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
        }
        &:before {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        &:after {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    .navicon {
      position: relative;
      width: 36px;
      height: 4px;
      background: $nav-text-color;
      -webkit-transition: $duration;
      -moz-transition: $duration;
      -o-transition: $duration;
      transition: $duration;
      &:before, &:after {
        display: block;
        content: "";
        height: 4px;
        width: 36px;
        background: $nav-text-color;
        position: absolute;
        z-index: -1;
        -webkit-transition: $duration/2;
        -moz-transition: $duration/2;
        -o-transition: $duration/2;
        transition: $duration/2;
      }
      &:before {
        top: 10px;
      }
      &:after {
        top: -10px;
      }
    }
    &:hover {
      -webkit-transition: $duration;
      -moz-transition: $duration;
      -o-transition: $duration;
      transition: $duration;
      .navicon:before,
      .navicon:after {
        -webkit-transition: $duration/2;
        -moz-transition: $duration/2;
        -o-transition: $duration/2;
        transition: $duration/2;
      }
    } 
  }
  nav {
    border-top: 1px solid #407202;
    box-shadow: 0 3px rgba(0,0,0,.1);
    display: none;
    clear: both;
    padding: 0;
    background: linear-gradient(to bottom, $color-light 0%, $color 100%);
    ul li {
      text-align: center;
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 12px 0;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        color: $nav-text-color;
        letter-spacing: .1em;
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-top: 1px solid rgba(255,255,2,.15);
        border-left: 1px solid rgba(0,0,0,0);
        @media only screen and (min-width : 768px) {
          font-size: 15px;
          opacity: .8;
          border: 0;
          padding: 28px 15px 27px;
          border-left: 1px solid rgba(255,255,2,.15);
          border-right: 1px solid rgba(0,0,0,.3);
          -webkit-transition: background $duration/2 ease-in-out, opacity $duration/2 ease-in-out, border-left $duration/2 ease-in-out;
          -moz-transition: background $duration/2 ease-in-out, opacity $duration/2 ease-in-out, border-left $duration/2 ease-in-out;
          -o-transition: background $duration/2 ease-in-out, opacity $duration/2 ease-in-out, border-left $duration/2 ease-in-out;
          transition: background $duration/2 ease-in-out, opacity $duration/2 ease-in-out, border-left $duration/2 ease-in-out;
          &:hover {
            border-top: 0;
            background: rgba(0,0,0,.18);
            border-left: 1px solid rgba(0,0,0,.08);
            opacity: 1;
          }
        }
      }
      &:first-child {
        a {
          &:hover {
            background: lighten($color, 5%);
            border-top: 1px solid rgba(0,0,0,.1);
            @media only screen and (min-width : 768px) {
              background: rgba(0,0,0,.18);
              border-top: 0;
            }
          }
        }
      }
      &:nth-child(2) {
        a {
          &:hover {
            background: lighten($color, 2.5%);
            border-top: 1px solid rgba(0,0,0,.12);
            @media only screen and (min-width : 768px) {
              background: rgba(0,0,0,.18);
              border-top: 0;
            }
          }
        }
      }
      &:nth-child(3) {
        a {
          &:hover {
            background: $color;
            border-top: 1px solid rgba(0,0,0,.14);
            @media only screen and (min-width : 768px) {
              background: rgba(0,0,0,.18);
              border-top: 0;
            }
          }
        }
      }
      &:last-child {
        a {
          &:hover {
            background: darken($color, 1.5%);
            border-top: 1px solid rgba(0,0,0,.14);
            @media only screen and (min-width : 768px) {
              background: rgba(0,0,0,.18);
              border-top: 0;
            }
          }
        }
      }
      &.active a {
        opacity: 1;
        @media only screen and (min-width : 768px) {
          background: rgba(0,0,0,.18);
          border-left: 1px solid rgba(0,0,0,.08);
        }
      }
      &.next-to-active a {
        @media only screen and (min-width : 768px) {
        border-left: 1px solid rgba(0,0,0,0);
        }
      }  
      @media only screen 
      and (min-width : 768px) {
        float: left;
        background: transparent;  
        &:last-child {
          margin-right: 0;
          border-right: 0;
        }
      }
    }
    &.nav-expanded {
      display: block;
    }
    @media only screen 
    and (min-width : 768px) {
      display: block;
      float: right;
      border-top: 0;
      border-left: 1px solid rgba(0,0,0,.3);
      box-shadow: none;
      margin-left: 15px;
    }
    @media only screen 
    and (min-width : 1201px) {
      border-right: 1px solid rgba(255,255,2,.15);
      opacity: 1;
    }
  }
  /* Smoother animations */
  & *,
  & *:before,
  & *:after {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

/***************************
END OF HEADER & NAVIGATION
****************************/


/***************************
HERO IMAGE
****************************/

#banner {
  padding: 50px 0 0;
  text-align: center;
  #outer {
    background: url('https://upload.wikimedia.org/wikipedia/commons/4/4d/Ponte_da_Arr%C3%A1bida_by_Ant%C3%B3nio_Amen_-_noite.jpg') top center no-repeat;
    background-size: cover;
    #hero {
      width: 100%;
      background: rgba(59,105,2,.3);
      height: 400px;
      display: table;
      h2 {
        padding: 0 15px;
        font-size: 2.5em;
        text-shadow: 1px 1px 5px rgba(0,0,0,.3);
        letter-spacing: .03em;
        display: table-cell;
        vertical-align: middle;
        @media only screen 
        and (min-width : 768px) {
          font-size: 3.5em;
          letter-spacing: .05em;
        }
      }
      @media only screen 
      and (min-width : 768px) {
        height: 700px;
      }
    }
  }
  @media only screen 
  and (min-width : 768px) {
    padding: 75px 0 0;
  }
}

/**********************
END OF HERO IMAGE
***********************/


/**********************
QUOTE
***********************/

#quote {
  margin: 41px 0 46px;
  text-align: center;
  @media only screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  blockquote {
    margin: 0 0 26px;
    @media only screen 
    and (min-width : 768px) {
      font-size: 1.75em;
    }
    @media only screen 
    and (min-width : 813px) {
      font-size: 2em;
    }
  }
  a {
    &:before {
      content: "\2014  ";
    }
  }
}

/**********************
END OF QUOTE
***********************/


/**********************
MAIN CONTENT
***********************/

.column {
  margin: 43px 0 0;
  &:last-of-type {
    margin: 34px 0 0;
  }
  @media only screen 
  and (min-width : 768px) {
    width: 48.75%;
    float: left;
    margin: 43px 1.25% 0 0;
    &:last-of-type {
      margin: 50px 0 0 1.25%;
    }
  }
}

/**********************
END OF MAIN CONTENT
***********************/