{% extends 'views/layouts/main_layout.html' %}

{% block content %}

  <div class="studios-wallpaper" align="center">
    <div class="container-fluid">
      <div class="col-lg-12">
        <div class="studio-mobile-adjust">
          <h1 class="big-title">Cigan<b>Enterprize</b> Studio At {{ studio.city }}, {{ studio.country }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="gray-background">
    <div class="container-fluid" align="center">
      <div class="col-lg-12">
        <div class="studios-presentation">
          <h1 class="big-title">{{ studio.city }}, {{ studio.country }}</h1>
          <h1 class="big-title">{{ studio.address }}</h1>
          <div>&nbsp;</div>
          <p>
            {{ studio.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="tz-gallery">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a class="lightbox" id="lightbox-line-one" href="{{ studio.gallery_image_one.url }}">
          <img src="{{ studio.gallery_image_one.url }}" alt="Bridge">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" id="lightbox-line-one" href="{{ studio.gallery_image_two.url }}">
          <img src="{{ studio.gallery_image_two.url }}" alt="Park">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" id="lightbox-line-one" href="{{ studio.gallery_image_three.url }}">
          <img src="{{ studio.gallery_image_three.url }}" alt="Tunnel">
        </a>
      </div>
      <div class="col-sm-12 col-md-8">
        <a class="lightbox" href="{{ studio.gallery_image_four.url }}">
          <img src="{{ studio.gallery_image_four.url }}" alt="Traffic">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{{ studio.gallery_image_five.url }}">
          <img src="{{ studio.gallery_image_five.url }}" alt="Coast">
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{{ studio.studio_image.url }}">
          <img src="{{ studio.studio_image.url }}" alt="Rails">
        </a>
      </div>
    </div>
  </div>

  <div>&nbsp;</div>

  <div class="container" align="center">
    <div class="manager">
      <div class="col-lg-4">
        <img src="{{ studio.manager_image.url }}">
      </div>
      <div class="col-lg-8">
        <h1>Studio Manager Contact</h1>
        <div>&nbsp;</div>
        <h1> {{ studio.manager_name }}</h1>
        <div>&nbsp;</div>
        <p>
          {{ studio.manager_words }}
        </p>
      </div>
    </div>
  </div>

  <div>&nbsp;</div>

<div class="container-fluid" id="footer">
  <div class="col-lg-12" align="center">
    <h1 class="big-title">Cigan<b>Enterprize</b> Studio At {{ studio.city }}, {{ studio.country }}</h1>
  </div>
  <div class="col-lg-6">
    <div class="footer" align="left">
      <h2><i class="fas fa-terminal" id="logo_terminal"></i> Cigan<b>Enterprize</b></h2>
      <div>&nbsp;</div>
      <p><i class="far fa-copyright"></i> 2020 Cigan<b>Enterprize</b>. All rights reserved.</p>
    </div>
  </div>
  <div class="col-lg-6" align="center">
    <div class="footer">
      <div class="topnav">
        <div>&nbsp;</div>
        <a href="{% url 'employees' %}">Team</a>
        <a href="{% url 'studio_lister' %}">Studios</a>
        <a href="{% url 'jobs_lister' %}">Careers</a>
        <a href="{% url 'newsletter' %}">Newsletter</a>
        <a href="{% url 'form_contact' %}">Contact</a>
        <a href="{% url 'events' %}">Events</a>
        <a href="{% url 'internships_lister' %}"><b>Intern</b>Ships</a>
        <a href="{% url 'blog_name' %}">Company<b>Blog</b></a>
      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-linkedin"></i> </a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}