{% extends 'home/base_loginsys_base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

{% load static %}
<div class="container" align="center" id="container_login">
  <div class="col-md-12">
    <div class="login_part">
      <h1>Password reset</h1>
      <form class="form" method="post">
        <div>&nbsp;</div>
        {% csrf_token %}
        {{ form.as_p }}
        <div>&nbsp;</div>
        <button type="submit">Send me instructions</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
