<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% if validlink %}

    <h1>Set a new password!</h1>
    <form class="form" method="post">
      <div>&nbsp;</div>
      {% csrf_token %}
      {{ form.as_p }}
      <div>&nbsp;</div>
      <button type="submit">Set New Password</button>
    </form>

    <div>&nbsp;</div>

    {% else %}

    <div class="container">
      <div class="col-lg-12">
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
      </div>
    </div>

    {% endif %}
  </body>
</html>
