@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

html,
body {
    height: 100%;
    color: #666666;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

a {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.125s linear;
}

a:hover {
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    transition: opacity 0.125s linear;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.first-container {
    width: 100%;
    height: 100%;
    animation: slide 50s infinite;
    background: url('../imgs/main_wallpaper_1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes slide {

    15% {
        background: url('../imgs/main_wallpaper_6.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    25% {

        background: url('../imgs/main_wallpaper_4.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    50% {
        background: url('../imgs/main_wallpaper_2.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    65% {
        background: url('../imgs/main_wallpaper_7.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    75% {
        background: url('../imgs/main_wallpaper_3.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    100% {
        background: url('../imgs/main_wallpaper_1.jpg') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.nav-container {
    margin-top: -2%;
    height: auto;
    padding: 1%;
    width: 100%;
    position: fixed;
    color: white;
    letter-spacing: 0.025em;
    transition: background-color 0.2s linear;
    z-index: 1000;
}

.nav-container.solid-nav {
    background-color: #000000;
    opacity: 0.7;
    transition: background-color 0.2s linear;
}

.nav-container .nav-row {
    width: 100%;
    margin: 0 auto;
    padding-right: 25px;
    padding-top: 25px;
}

.nav-container .nav-row .nav-logo {
    display: inline-block;
    font-weight: 900;
    font-size: 25px;
    letter-spacing: 0.2em;
}

.nav-container .nav-row .nav-controls {
  float: right;
}

.nav-container .nav-row .nav-controls a {
    padding-left: 20px;
    font-size: 18px;
}

@media screen and (max-width: 800px) {

    .nav-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background: #000000;
        opacity: 0;
        transition: all 0.2s ease;
    }

    .nav-container .nav-row {
        max-width: 1200px;
    }

    .nav-container .nav-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-container .nav-controls a {
        display: block;
        margin-top: 5%;
        margin-right: 10%;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        transform: translateY(-20px);
        transition: all 0.2s ease;
    }

    .nav-open {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
    }

    .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #ffffff;
        border-radius: 2px;
    }

    .nav-open i:nth-child(1) {
        margin-top: 16px;
    }

    .nav-open i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .nav-open i:nth-child(3) {
        margin-top: 4px;
    }
}

#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.introduction h1 {
    margin-top: 40%;
    color: #ffffff;
    font-size: 60px;
}

.container {
    padding-top: 4%;
}

.presentation {
    color: #1a1a1a;
}

.presentation p {
    font-size: 18px;
}

.presentation button {
    background: #333333;
    transition: all 500ms ease;
    font-size: 25px;
    padding: 2%;
    border: none;
    border-radius: 0;
}

.presentation button:hover {
    background: #666666;
}

.first_parallax {
    margin-top: 2%;
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/basic_wallpaper_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    background-position: 50% 50%;
}

@media (min-width: 768px) {
    min-height: 20vw;
}

@media (min-width: 1200px) {
    min-height: 400px;
}

.first_parallax .cover-black {

    margin-top: 15%;
    background: #000000;
    opacity: 0.7;
    padding: 2%;
    width: 100%;
}

.first_parallax .cover-black h1 {
    font-size: 45px;
}

.first_parallax .cover-black .inherit-button button {
    background: #333333;
    transition: all 500ms ease;
    font-size: 20px;
    padding: 1%;
    border: none;
    border-radius: 0;
}

.first_parallax .cover-black .inherit-button {
    padding: 2%;
}

.first_parallax .cover-black .inherit-button button:hover {
    background: #666666;
}

.second_parallax {
    margin-top: 3%;
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/basic_wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    background-position: 50% 50%;
}

@media (min-width: 768px) {
    min-height: 20vw;
}

@media (min-width: 1200px) {
    min-height: 400px;
}

.second_parallax .cover-black {

    margin-top: 15%;
    background: #000000;
    opacity: 0.7;
    padding: 2%;
    width: 100%;
}

.second_parallax .cover-black h1 {
    font-size: 45px;
}

.second_parallax .cover-black .inherit-button button {
    background: #333333;
    transition: all 500ms ease;
    font-size: 20px;
    padding: 1%;
    border: none;
    border-radius: 0;
}

.second_parallax .cover-black .inherit-button {
    padding: 2%;
}

.second_parallax .cover-black .inherit-button button:hover {
    background: #666666;
}

.third-parallax {
    margin-top: 3%;
    height: 100vh;
    width: 100%;
    background-image: url("../imgs/basic_wallpaper_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    background-position: 50% 50%;
}

@media (min-width: 768px) {
    min-height: 20vw;
}

@media (min-width: 1200px) {
    min-height: 400px;
}

.third-parallax .cover-black {

    margin-top: 15%;
    background: #000000;
    opacity: 0.7;
    padding: 2%;
    width: 100%;
}

.third-parallax .cover-black h1 {
    font-size: 45px;
}

.third-parallax .cover-black .inherit-button button {
    background: #333333;
    transition: all 500ms ease;
    font-size: 20px;
    padding: 1%;
    border: none;
    border-radius: 0;
}

.third-parallax .cover-black .inherit-button {
    padding: 2%;
}

.third-parallax .cover-black .inherit-button button:hover {
    background: #666666;
}

.portofolio_presentation img {
    width: 100%;
    height: auto;
}

.portofolio_presentation .overlay{
  color: #000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
}

.uncover .overlay span:nth-child(1){
  position: absolute;
  left: 50%;
  top: 35%;
  font-size: 80px;
  font-weight: bold;
  font-family: coustard;
  transform: translateX(-50%);
  opacity: 0;
}

.uncover .overlay span:nth-child(2){
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  transform: translateY(-50%);
  transform: translateX(-50%);
  opacity: 0;
}

.uncover .overlay span:nth-child(3){
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 38%;
  opacity: 0;
}

.uncover .overlay span:nth-child(4){
  height: 30px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 25%;
  opacity: 0;
}

.uncover .overlay:hover{
  opacity: 0.9;
}

.uncover .overlay:hover span:nth-child(1){
  animation: fadein 0.6s forwards;
    animation-delay: 0.5s;
}

.uncover .overlay:hover span:nth-child(2){
  animation: fadein 0.6s forwards;
  animation-delay: 0.75s;
}

.uncover .overlay:hover span:nth-child(3){
  animation: draw-left 0.7s;
}

.uncover .overlay:hover span:nth-child(4){
  animation: draw-right 0.7s;
  animation-delay: 0.6s;
}

@keyframes draw-left{
  0%   {
    opacity: 0;
    width: 0px;
    left: 75%}
  50% {
    opacity: 1;
    left: 25%;
    width: 200px;}

  100% {
    opacity: 0;
    width: 0px;
    left: 25%;}
}

@keyframes draw-right{
  0%   {
    opacity: 0;
    width: 0px;
}
  50% {
    opacity: 1;
    width: 200px;
   }

  100% {
    opacity: 0;
    width: 0px;
    }
}

@keyframes fadein{
  0%   {
    opacity: 0;}
  100%   {
    opacity: 1; }
}