{% extends 'views/base.html' %}

{% block content %}

<div class="blog-wallpaper">
    <div class="black-background">
      <div class="container">
        <div class="col-lg-12">
          <div class="brand" data-aos="fade-down">
            <a href="/"><h1>Cigan Oliviu David</h1></a>
            <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <label>
      <input type="checkbox">
      <span class="menu"> <span class="hamburger"></span> </span>
      <ul class="deactivate-click">
        <li> <a class="deactivate-click" href="/"><i class="fas fa-home"></i> Home</a> </li>
        <li> <a class="deactivate-click" href="{% url 'books' %}"><i class="fas fa-book"></i> Books I Recommend</a> </li>
        <li> <a class="deactivate-click" href="{% url 'blog_name' %}"><i class="fas fa-blog"></i> Personal Blog</a> </li>
        <li> <a class="deactivate-click" href="{% url 'clients_management_system_index' %}"><i class="fas fa-mug-hot"></i> Get into your Client Account</a> </li>
      </ul>
  </label>

  <div class="welcome">
    <div class="black-background">
      <div class="container">
        <div class="col-lg-12" data-aos="fade-up">
          <div class="welcome-message">
            <h1 class="message">Strong opinions and shared thoughts on design, business, and tech.</h1>
            <a href="#" class="scroll-down-blog"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="white-background" align="center" id="blog">
  <div class="container">
    <div class="col-lg-12">
      <div class="form-div">
        <h1 data-aos="fade-down">There are  {{ post_list.count }} Articles Available</h1>
        <div>&nbsp;</div>
        <form class="form" action="{% url 'blog_search' %}" method="get">
          <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search an Article"  data-aos="fade-down">
          <div>&nbsp;</div>
          <button type="submit" class="btn btn-primary" data-aos="fade-down">Search Article</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% for post in post_list %}
<div class="white-background" align="center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <div class="card-body">
          <img src="{{ post.cover_representation.url }}" />
        </div>
      </div>
      <div class="col-lg-8" data-aos="fade-left">
        <h1 class="card-title">{{ post.title }}</h1>
        <div>&nbsp</div>
        <p>{{ post.introduction | slice:":700" }}</p>
        <div>&nbsp</div>
        <h4 class="card-text">Written by {{ post.author }}</h4>
        <div>&nbsp</div>
        <h4 class="card-text">Post date {{ post.created_on}} </h4>
        <div>&nbsp</div>
        <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
        <div>&nbsp</div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="gray-background" id="about-me" align="center">
  <div class="container">
    <div class="about-me">
      <div class="col-md-4" data-aos="fade-right">
        <div class="box">
          <div class="imgBox">
            {% load static %}
            <img src="{% static 'img/profile_blog.jpg' %}" alt="me">
          </div>
          <div class="content">
            <h2>Cigan Oliviu David</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              consequat.
              <div>&nbsp</div>
              <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>  <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-8" data-aos="fade-left">
        <h1>Clean Coder</h1>
        <div>&nbsp;</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <div>&nbsp</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
