{% extends 'views/layouts/main_layout.html' %}

{% block content %}

<header class="header">
  <a href="{% url 'index' %}" class="logo"><i class="fas fa-terminal" id="logo_terminal"></i>Cigan<b>Enterprize</b></a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a class="from-left" href="{% url 'studio_lister' %}"><i class="fas fa-building"></i> Studios</a></li>
    <li><a class="from-left" href="{% url 'jobs_lister' %}"><i class="fas fa-briefcase"></i> Carers</a></li>
    <li><a class="from-left" href="{% url 'newsletter' %}"><i class="fas fa-newspaper"></i> Newsletter</a></li>
    <li><a class="from-left" href="{% url 'formular_contact' %}"><i class="fas fa-envelope"></i> Contact</a></li>
    <li><a class="from-left" href="{% url 'host_events' %}"><i class="fas fa-calendar-alt"></i> Events</a></li>
    <li><a class="from-left" href="{% url 'internships_lister' %}"><i class="fas fa-people-carry"></i> <b>Intern</b>Ship</a></li>
    <li><a class="from-left" href="{% url 'blog_name' %}"><i class="fas fa-blog"></i> Company<b>Blog</b></a></li>
  </ul>
</header>

<div class="presentation-image">

  <div class="container-fluid" align="center">
    <div class="col-lg-12">
        <h1>We build digital solutions for different purposes and clients.</h1>
        <div>&nbsp;</div>
        <div class="box scroll-down">
          <span></span>
          <span></span>
          <span></span>
      </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="container-fluid" align="center" id="brands">
    <div class="col-lg-12">
      <h1 class="big-title">We Design and Support</h1>
    </div>
  </div>

  <div class="container-fluid" align="center" id="white-right-polygon-wallpaper-color">
    <div class="col-lg-3">
      <div class="brands">
        {% load static %}
        <img class="brand" src="{% static 'imgs/personal_brand.jpg' %}" alt="personal-brand">
        <div>&nbsp;</div>
        <h1>Personal Brands</h1>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="brands">
        <img class="brand" src="{% static 'imgs/known_brand.jpg' %}" alt="personal-brand">
        <div>&nbsp;</div>
        <h1>Known Brands</h1>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="brands">
        <img class="brand" src="{% static 'imgs/local_brand.jpg' %}" alt="personal-brand">
        <div>&nbsp;</div>
        <h1>Small Businesses</h1>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="brands">
        <img class="brand" src="{% static 'imgs/open_source.jpg' %}" alt="personal-brand">
        <div>&nbsp;</div>
        <h1>Open Source Projects</h1>
      </div>
    </div>
  </div>
</div>

<div>&nbsp;</div>

<div class="container-fluid" align="center" id="gray-wallpaper-color">
  <div class="col-lg-12">
    <div class="brands">
      <h1 class="big-title">We Provide Services in</h1>
    </div>
  </div>
</div>

<div class="container-fluid" align="center" id="gray-left-polygon-wallpaper-color">
  <div class="col-lg-3">
    <div class="brands">
      {% load static %}
      <img class="brand" src="{% static 'imgs/web_dev.jpg' %}" alt="personal-brand">
      <div>&nbsp;</div>
      <h1>Web Development</h1>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="brands">
      <img class="brand" src="{% static 'imgs/web_design.jpg' %}" alt="personal-brand">
      <div>&nbsp;</div>
      <h1>Web Design</h1>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="brands">
      <img class="brand" src="{% static 'imgs/mobile_dev.jpg' %}" alt="personal-brand">
      <div>&nbsp;</div>
      <h1>Mobile Apps Development</h1>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="brands">
      <img class="brand" src="{% static 'imgs/marketing.jpg' %}" alt="personal-brand">
      <div>&nbsp;</div>
      <h1>Marketing Services</h1>
    </div>
  </div>
</div>

<div class="container-fluid" id="footer">
    <div class="col-lg-6">
      <div class="footer" align="left">
        <h2><i class="fas fa-terminal" id="logo_terminal"></i> Cigan<b>Enterprize</b></h2>
        <div>&nbsp;</div>
        <p><i class="far fa-copyright"></i> 2020 CiganEnterprize. All rights reserved.</p>
      </div>
    </div>
    <div class="col-lg-6" align="center">
      <div class="footer">
        <div class="topnav">
          <div>&nbsp;</div>
          <a href="{% url 'studio_lister' %}">Studios</a>
          <a href="{% url 'jobs_lister' %}">Carers</a>
          <a href="{% url 'newsletter' %}">Newsletter</a>
          <a href="{% url 'formular_contact' %}">Contact</a>
          <a href="{% url 'host_events' %}">Events</a>
          <a href="{% url 'internships_lister' %}"><b>Intern</b>Ships</a>
          <a href="{% url 'blog_name' %}">Company<b>Blog</b></a>
        </div>
        <div class="social-media">
          <a href="#"><i class="fab fa-linkedin"></i> </a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
