<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> {{ post.title }}</h1>
    <p> {{ post.introduction }}</p>
    <div>&nbsp;</div>
    <h2> {{ post.sub_title_one }}</h2>
    <p> {{ post.sub_content_one }}</p>
    <div>&nbsp;</div>
    <h2> {{ post.sub_title_two }}</h2>
    <p> {{ post.sub_content_two }}</p>
    <div>&nbsp;</div>
    <h2> {{ post.sub_title_three }}</h2>
    <p> {{ post.sub_content_three }}</p>
    <div>&nbsp;</div>
    <h2> {{ post.sub_title_four }}</h2>
    <p> {{ post.sub_content_four }}</p>
  </body>
</html>
