{% extends 'home/base_loginsys_base.html' %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container" align="center" id="container_login">
  <div class="col-lg-12">
    <div class="login_part">
      <div class="container" align="center" id="container_login">
        <h1>Check your inbox.</h1>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
