{% extends 'layouts/main_layout.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_cms.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile_adjust_cms.css' %}">
{% endblock %}

{% block content %}

<div align="center">
    <nav>
        <input type="checkbox" id="nav" class="hidden"/>
        <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
        <div class="nav-container">
            <ul>
                <li><a href="{% url 'update_profile' %}">Update Profile</a></li>
                <li><a href="{% url 'index' %}">Workflow</a></li>
                <li><a href="{% url 'feedback_page' %}">Feedback</a></li>
                <li><a href="{% url 'client_messages' %}">Messages</a></li>
                <li><a href="{% url 'projects_request' %}">Request a Project</a></li>
                <li><a href="{% url 'projects_handler' %}">All Projects</a></li>
                <li><a href="{% url 'product_handler' %}">All Products</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="/">Main Platform</a></li>
            </ul>
        </div>
    </nav>
</div>

<div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>

<div class="container-fluid" id="content">
        <div class="col-lg-4" align="left">

            <div class="GeneralPresentationProjects">
                <h3>Active Working Products</h3>
                <div>&nbsp;</div>
                {% for product in active_product_query %}
                    <div class="project" id="active-working" onclick="location.href='{% url 'active_working_product_detail' product.active_working_product_slug %}';" style="cursor:pointer;">
                        <h3><i class="fas fa-circle"></i> {{ product.product_name }}</h3>
                        <p>Percent done {{ product.percent_done }}</p>
                        <p>{{ product.product_description| slice:":200" }}...</p>
                        <p>Release Day {{ product.release_day }}</p>
                    </div>
                    <div>&nbsp;</div>
                {% endfor %}
            </div>

            </div>

            <div class="col-lg-4">
                <div class="GeneralPresentationProjects">
                    <h3>Planned Products</h3>
                    <div>&nbsp;</div>
                    {% for planned_product in planned_product_query %}
                        <div class="project" id="planned" onclick="location.href='{% url 'planned_product_detail' planned_product.planned_product_slug %}';" style="cursor:pointer;">
                            <h3><i class="fas fa-circle"></i> {{  planned_product.product_name }}</h3>
                            <p>{{ planned_product.product_description| slice:":200" }}...</p>
                            <p>Release Day {{ planned_product.release_day }}</p>
                            <p>Status : {{ planned_product.working_status }}</p>
                        </div>
                        <div>&nbsp;</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="GeneralPresentationProjects">
                    <h3>Finished Products</h3>
                    <div>&nbsp;</div>
                    {% for finished_product in finished_product_query %}
                        <div class="project" id="finished" onclick="location.href='{% url 'finished_product_detail' finished_product.finished_product_slug %}';" style="cursor:pointer;">
                            <h3><i class="fas fa-circle"></i> {{ finished_product.product_name }}</h3>
                            <p>{{ finished_product.product_description| slice:":200" }}...</p>
                            <p>{{ finished_product.type }}</p>
                        </div>
                        <div>&nbsp;</div>
                    {% endfor %}
                </div>
            </div>

            <div>&nbsp;</div>
        </div>
    </div>
{% endblock %}
