<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jobs</title>
  </head>
  <body>
    <h1>Jobs</h1>
    <div>&nbsp;</div>
    <form action="{% url 'jobs_search' %}" method="get">
      <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search a Job">
      <div>&nbsp;</div>
      <button type="submit" name="button">Search Article</button>
    </form>
    <div>&nbsp;</div>
    {% for job in jobs_result %}
      <a href="{% url 'job_detail' job.job_slug %}">{{ job.post }}</a>
      <div>&nbsp;</div>
    {% endfor %}
  </body>
</html>
