{% extends 'layouts/main_layout.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login_style_cms.css' %}">
{% endblock %}

{% block content %}
    <div class="container" align="center">
        <div class="col-lg-12">
            <div class="items">
                <h1 id="title">Password reset complete</h1>
                <p>Your new password has been set. You can log in now on the.</p>
                <div id="sign">
                    <a id="sign" href="{% url 'login' %}">login page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}