{% extends 'views/layouts/main_layout.html' %}

{% block content %}

<div>&nbsp;</div>

<div class="white-background">
  <div class="container-fluid" align="center" id="brands">
    <div class="col-lg-12">
      <div class="mobile-margin-adjust">
        <h1 class="big-title">Cigan<b>Enterprize</b> Team</h1>
      </div>
    </div>
  </div>
</div>

<div>&nbsp;</div>

<div class="gray-background">
    {% if employers_results %}
        {% for employer in employers_results %}
            {% if forloop.first %}
                <div class="container"><div class="content">{% endif %}
                          <div class="col-lg-4">
                            <div class="our-team">
                                <img src="{{ employer.profile_image.url }}" alt="team member" class="img-responsive">
                                <div class="team-content">
                                    <h3 class="name">{{ employer.first_name }} {{ employer.last_name }}</h3>
                                    <span class="post">{{ employer.post }}</span>
                                </div>
                            </div>
                          </div>
          {% if forloop.counter0|divisibleby:3 %}</div><div class="content">{% endif %}
          {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    {% endif %}
    </div>
</div>

<div>&nbsp;</div>

<div class="container-fluid" id="footer">
  <div class="col-lg-12" align="center">
    <h1 class="big-title">Cigan<b>Enterprize</b> Team</h1>
  </div>
  <div class="col-lg-6">
    <div class="footer" align="left">
      <h2><i class="fas fa-terminal" id="logo_terminal"></i> Cigan<b>Enterprize</b></h2>
      <div>&nbsp;</div>
      <p><i class="far fa-copyright"></i> 2020 Cigan<b>Enterprize</b>. All rights reserved.</p>
    </div>
  </div>
  <div class="col-lg-6" align="center">
    <div class="footer">
      <div class="topnav">
        <div>&nbsp;</div>
        <a href="{% url 'employees' %}">Team</a>
        <a href="{% url 'studio_lister' %}">Studios</a>
        <a href="{% url 'jobs_lister' %}">Careers</a>
        <a href="{% url 'newsletter' %}">Newsletter</a>
        <a href="{% url 'form_contact' %}">Contact</a>
        <a href="{% url 'events' %}">Events</a>
        <a href="{% url 'internships_lister' %}"><b>Intern</b>Ships</a>
        <a href="{% url 'blog_name' %}">Company<b>Blog</b></a>
      </div>
      <div class="social-media">
        <a href="#"><i class="fab fa-linkedin"></i> </a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
