{% extends 'views/base.html' %}

{% block content %}

<div class="books-wallpaper">
  <div class="black-background">
    <div class="container">
      <div class="col-lg-12">
        <div class="brand" data-aos="fade-down">
          <a href="/"><h1>Cigan Oliviu David</h1></a>
          <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <label>
    <input type="checkbox">
    <span class="menu"> <span class="hamburger"></span> </span>
    <ul>
      <li> <a href="/"><i class="fas fa-home"></i> Home</a> </li>
      <li> <a href="/books"><i class="fas fa-book"></i> Books Recommandation</a> </li>
      <li> <a href="/blog"><i class="fas fa-blog"></i> Personal Blog</a> </li>
    </ul>
</label>

  <div class="welcome">
    <div class="black-background">
      <div class="container">
        <div class="col-lg-12" data-aos="fade-up">
          <div class="welcome-message">
            <h1 class="message">Books I highly recommend!</h1>
            <a href="#" class="scroll-down-books"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-background" id="books">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/clean_code.jpg'%}">
         <h2>Clean Code</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?dchild=1&keywords=clean+code&qid=1596552228&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/clean_arhitecture.jpg'%}">
         <h2>Clean Arhitecture</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164/ref=sr_1_2?dchild=1&keywords=clean+code&qid=1596552246&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/clean_coder.jpg'%}">
         <h2>Clean Coder</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073/ref=sr_1_3?dchild=1&keywords=clean+code&qid=1596552246&sr=8-3" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/implementation_patterns.jpg'%}">
         <h2>Implementation Patterns</h2>
         <h4>Kent Beck</h4>
         <a href="https://www.amazon.com/Implementation-Patterns-Kent-Beck/dp/0321413091/ref=sr_1_1?dchild=1&keywords=implementation+patterns&qid=1596552275&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="white-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/refactoring.jpg'%}">
         <h2>Refactoring</h2>
         <h4>Martin Fowler</h4>
         <a href="https://www.amazon.com/Refactoring-Improving-Existing-Addison-Wesley-Signature/dp/0134757599/ref=sr_1_1?dchild=1&keywords=refactoring&qid=1596553014&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/life_3.jpeg'%}">
         <h2>Life 3.0</h2>
         <h4>Max Tegmark</h4>
         <a href="https://www.amazon.com/Life-30-Max-Tegmark-audiobook/dp/B0742JQF31/ref=sr_1_2?dchild=1&keywords=life+3&qid=1596552978&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/damn_good_advices.jpg'%}">
         <h2>Damn good advices</h2>
         <h4>George Lois</h4>
         <a href="https://www.amazon.com/Damn-Good-Advice-People-Talent/dp/0714863483/ref=sr_1_1?dchild=1&keywords=damn+good+advice&qid=1596553176&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/win_friends.jpg'%}">
         <h2>Deep Work</h2>
         <h4>Cal Newport</h4>
         <a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0091906350/ref=sr_1_3?dchild=1&keywords=win+friends&qid=1596553190&sr=8-3" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="gray-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/10x.jpg'%}">
         <h2>10X Rule</h2>
         <h4>Grant Cardone</h4>
         <a href="https://www.amazon.com/The-10X-Rule-Grant-Cardone-audiobook/dp/B005DGW34C/ref=sr_1_3?dchild=1&keywords=10x&qid=1596553208&sr=8-3" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/bobe.jpg'%}">
         <h2>Be obsessed or be average</h2>
         <h4>Grant Cardone</h4>
         <a href="https://www.amazon.com/Be-Obsessed-or-Be-Average-audiobook/dp/B01H43JCTU/ref=sr_1_2?crid=2LGA5Q2AE55PG&dchild=1&keywords=be+obsessed+or+be+average&qid=1596553234&sprefix=be+obs%2Caps%2C280&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/millionaire_booklet.jpg'%}">
         <h2>The millionaire booklet</h2>
         <h4>Grant Cardone</h4>
         <a href="https://www.amazon.com/The-Millionaire-Booklet-audiobook/dp/B01IRTK2SU/ref=sr_1_1?dchild=1&keywords=the+millionaire+booklet&qid=1596553256&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/deep_work.jpg'%}">
         <h2>Deep Work</h2>
         <h4>Cal Newport</h4>
         <a href="https://www.amazon.com/Deep-Work-Cal-Newport-audiobook/dp/B0189PVAWY/ref=sr_1_1?dchild=1&keywords=deep+work&qid=1596553295&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="white-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/20000_leagues.jpg'%}">
         <h2>20.000 Leagues under the sea</h2>
         <h4>Jules Verne</h4>
         <a href="https://www.amazon.com/20000-Leagues-Under-Sea-audiobook/dp/B076HXCR69/ref=sr_1_1?crid=EQRNXZU1DULS&dchild=1&keywords=20000+leagues+under+the+sea&qid=1596553311&s=audible&sprefix=20000+leagues%2Caudible%2C366&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/devils.jpg'%}">
         <h2>The devils arithmetic</h2>
         <h4>Jane Yolen</h4>
         <a href="https://www.amazon.com/The-Devils-Arithmetic-audiobook/dp/B00QL17FPK/ref=sr_1_1?crid=3U9AWMEGFYS5Q&dchild=1&keywords=the+devils+arithmetic+by+jane+yolen&qid=1596553329&s=audible&sprefix=the+devils+ar%2Caudible%2C386&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/funny_story.jpg'%}">
         <h2>It's kind of a funny story</h2>
         <h4>Ned Vizzini</h4>
         <a href="https://www.amazon.com/Its-Kind-of-Funny-Story-audiobook/dp/B0095C26P6/ref=sr_1_1?crid=SMWDAUOOLI28&dchild=1&keywords=it%27s+kind+of+a+funny+story&qid=1596553348&s=audible&sprefix=it%27s+kind+of+%2Caudible%2C248&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/man_alone.jpg'%}">
         <h2>Man alone with himself</h2>
         <h4>Friedrich Nietzsche</h4>
         <a href="https://www.amazon.com/Great-Ideas-Alone-Himself-Penguin/dp/0141036680/ref=sr_1_1?crid=1BT33AXUI13B&dchild=1&keywords=man+alone+with+himself&qid=1596553401&s=audible&sprefix=man+alone+w%2Caudible%2C257&sr=1-1-catcorr" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="gray-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/millionaire_success_habits.jpg'%}">
         <h2>The Millionaire Success Habits</h2>
         <h4>Dean Graziosi</h4>
         <a href="https://www.amazon.com/Millionaire-Success-Habits-audiobook/dp/B07M9SD3XG/ref=sr_1_1?crid=2ZE77V7J0S57S&dchild=1&keywords=millionaire+success+habits&qid=1596553426&sprefix=millionaire+succ%2Caps%2C289&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/the_one_thing.jpg'%}">
         <h2>The one thing</h2>
         <h4>Gary Keller</h4>
         <a href="https://www.amazon.com/The-ONE-Thing-audiobook/dp/B00FPVS27W/ref=sr_1_1?dchild=1&keywords=the+one+thing&qid=1596553442&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/rework.jpg'%}">
         <h2>Rework</h2>
         <h4>37Signals</h4>
         <a href="https://www.amazon.com/Rework-Jason-Fried/dp/0307463745/ref=sr_1_1?dchild=1&keywords=rework&qid=1596553507&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/soft_skills.jpg'%}">
         <h2>Soft Skills</h2>
         <h4>John Sonmez</h4>
         <a href="https://www.amazon.com/Soft-Skills-Software-Developers-Manual/dp/B0158SJ3EM/ref=sr_1_2?dchild=1&keywords=soft+skills&qid=1596553519&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="white-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-3" data-aos="flip-right">
         {% load static %}
         <img src="{% static 'img/books/the_art_of_war.jpg'%}">
         <h2>The art of war</h2>
         <h4>Sun Tzu</h4>
         <a href="https://www.amazon.com/The-Art-of-War-Sun-Tzu-audiobook/dp/B00URW47O6/ref=sr_1_1?dchild=1&keywords=the+art+of+war&qid=1596553560&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-up">
         <img src="{% static 'img/books/on_the_heights_of_despair.jpg'%}">
         <h2>On the heights of despair</h2>
         <h4>Emil Cioran</h4>
         <a href="https://www.amazon.com/Heights-Despair-M-Cioran/dp/0226106713/ref=sr_1_1?dchild=1&keywords=on+the+heights+of+despair&qid=1596553576&s=audible&sr=1-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-down">
         <img src="{% static 'img/books/tree_grows_in_brooklyn.jpg'%}">
         <h2>A tree grows in Brooklyn</h2>
         <h4>Betty Smith</h4>
         <a href="https://www.amazon.com/Tree-grows-Brooklyn-Betty-smith/dp/B001UGCO3Y/ref=sr_1_2?crid=35OLL5FUEPL59&dchild=1&keywords=a+tree+grows+in+brooklyn&qid=1596553636&sprefix=a+tree+grows%2Caps%2C-1&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-3" data-aos="flip-left">
         <img src="{% static 'img/books/trouble_with_being_born.jpg'%}">
         <h2>The trouble with being born</h2>
         <h4>Emil Cioran</h4>
         <a href="https://www.amazon.com/Trouble-Being-Born-M-Cioran/dp/1611457408/ref=sr_1_1?dchild=1&keywords=the+trouble+with+being&qid=1596553656&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>

<div class="footer" align="center">
  <div class="container-fluid">
    <div class="col-lg-12">
      <h1 data-aos="fade-up">Have questions? Call 0755577458</h1>
      <div>&nbsp;</div>
      <div class="line" data-aos="fade-up"></div>
      <div>&nbsp;</div>
      <div class="non-class" data-aos="fade-up">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/books/"><li>Books Recommandation</li></a>
          <a href="/blog/"><li>Personal Blog</li></a>
        </ul>
        <div>&nbsp;</div>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>  <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
      <div>&nbsp;</div>
      <h4>Copyright &copy; Cigan Oliviu David all rights reserved</h4>
    </div>
  </div>
</div>

{% endblock %}
