{% extends 'views/base.html' %}

{% block content %}
<div class="full-black-background">
  <div class="container">
    <div class="col-lg-12">
      <div class="brand" data-aos="fade-down">
        <a><h1>{{ post.title }}</h1></a>
        <a href="/blog"><h2>Go back</h2></a>
        <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
</div>

<img class="blog-main-image" src="{{ post.wallpaper_representation.url }}"/>

<div class="white-background" align="center" id="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-paragraphs">
          <h1 data-aos="fade-right">{{ post.title }}</h1>
          <div>&nbsp;</div>
          <p data-aos="fade-left">{{ post.introduction | safe }}</p>
          <div>&nbsp;</div>
          <h1 data-aos="fade-right">{{ post.sub_title_one }}</h1>
          <div>&nbsp;</div>
          <p data-aos="fade-left">{{ post.sub_content_one }}</p>
          <div>&nbsp;</div>
          <h1 data-aos="fade-right">{{ post.sub_title_two }}</h1>
          <div>&nbsp;</div>
          <p data-aos="fade-left">{{ post.sub_content_two }}</p>
          <div>&nbsp;</div>
          <h1 data-aos="fade-right">{{ post.sub_title_three }}</h1>
          <div>&nbsp;</div>
          <p data-aos="fade-left">{{ post.sub_content_three }}</p>
          <div>&nbsp;</div>
          <h1 data-aos="fade-right">{{ post.sub_title_four }}</h1>
          <div>&nbsp;</div>
          <p data-aos="fade-left">{{ post.sub_content_four }}</p>
        </div>
        <div align="right" data-aos="fade-right">
          <p>{{ post.author }}</p>
          <p>{{ post.created_on }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer" align="center">
  <div class="container-fluid">
    <div class="col-lg-12">
      <h1 data-aos="fade-up">Have questions? Call 0755577458</h1>
      <div>&nbsp;</div>
      <div class="line" data-aos="fade-up"></div>
      <div>&nbsp;</div>
      <div class="non-class" data-aos="fade-up">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/books/"><li>Books Recommandation</li></a>
          <a href="/blog/"><li>Personal Blog</li></a>
        </ul>
        <div>&nbsp;</div>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>  <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
      <div>&nbsp;</div>
      <h4>Copyright &copy; Cigan Oliviu David all rights reserved</h4>
    </div>
  </div>
</div>

{% endblock content %}
