{% extends 'home/base.html' %}

{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/invitation.css' %}">

{% endblock %}

{% block content %}

<div class="th-wallpaper">
  <div class="container">
    <div class="col-lg-12">
    </div>
  </div>

  <div class="welcome">
    <div class="black-background">
      <div class="container">
        <div class="col-lg-12">
          <div class="welcome-message">
            <h1 class="message">{{ user.first_name }}, Thank you for your response!</h1>
            <h1>12.11.2027</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>&nbsp;</div>

{% load static %}
<div class="container" align="center">
  <div class="col-lg-12">
    <h1>The Wedding Day</h1>

    <div>&nbsp;</div>

    <p>Our wedding day event order as follows with different cultures and religions will incorporate other elements or swap things around.</p>
  </div>
</div>

<label>
  <input type="checkbox">
  <span class="menu"> <span class="hamburger"></span> </span>
  <ul class="deactivate-click">
    <li> <a class="deactivate-click" href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a> </li>
    <li> <a class="deactivate-click" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a> </li>
    <li> <a class="deactivate-click" href="{% url 'password_change' %}"><i class="fas fa-key"></i> Change Password</a> </li>
  </ul>
</label>

<div class="timeline">
  <ul>
    <li>
      <div class="content">
        <h3>Marriage</h3>

        <div>&nbsp;</div>

        <img class="wedding_pngs" src="{% static 'imgs/wedding_pngs/rings.png' %}">

        <div>&nbsp;</div>

        <p>The processional begins with the grandparents, flows through the parents, groom, officiant, wedding party, flower girl, and ring bearer, and ends with the bride making her entrance.</p>
      </div>
      <div class="time">
        <h4>09.30 AM</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Words of Welcome</h3>

        <div>&nbsp;</div>

        <img class="wedding_pngs" src="{% static 'imgs/wedding_pngs/words.png' %}">

        <div>&nbsp;</div>

        <p>Once everyone is in place, the officiant will say a few words of welcome. He or she may thank guests for bearing witness to your union, as well as welcome everyone to our venue for celebration.</p>
      </div>
      <div class="time">
        <h4>12.30 PM</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Photography</h3>
        <div>&nbsp;</div>
        <img class="wedding_pngs" src="{% static 'imgs/wedding_pngs/photography.png' %}">
        <div>&nbsp;</div>
        <p>The officiant will offer an introduction and some thoughts on marriage. This could be a brief recounting of your love story, words on what marriage means to you, or a statement about the ceremony to come and represents.</p>
      </div>
      <div class="time">
        <h4>3.30 PM</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Wedding Cake</h3>
        <div>&nbsp;</div>
        <img class="wedding_pngs" src="{% static 'imgs/wedding_pngs/wedding.png' %}">
        <div>&nbsp;</div>
        <p>A wedding cake is the traditional cake served at wedding receptions following dinner.The wedding cake is served at a wedding breakfast; the 'wedding breakfast' does not mean the meal will be held in the morning before the wedding. </p>
      </div>
      <div class="time">
        <h4>3.30 PM</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3>Wedding Party</h3>
        <div>&nbsp;</div>
        <img class="wedding_pngs" src="{% static 'imgs/wedding_pngs/party.png' %}">
        <div>&nbsp;</div>
        <p>At the wedding party the officiant introduces the married couple for the first time. Then, the bride and groom lead the recessional back up the aisle as guests shower you with the rice!.</p>
      </div>
      <div class="time">
        <h4>4.00 PM</h4>
      </div>
    </li>
    <div style="clear:both;"></div>
  </ul>
</div>


{% load static %}

<div class="container-fluid golden-background" align="center">
  <div class="col-lg-12">

    {% for answer in answers %}
      <h1><b>Hi {{ user.last_name }}, You are {{ answer.position }}</b></h1>
    {% endfor %}

    {% for guest in guests %}

      <div>&nbsp;</div>

      <p>Your place is at table number {{ guest.table_number }}</p>

      <div>&nbsp;</div>

      {% if guest.table_image %}
      <div class="image-container">
        <img class="table-image" src="{{ guest.table_image.url }}">
      </div>
      {% endif %}
    {% endfor %}

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>

    <p>Thank you for your answer and we are glad to have you around in this special moment.</p>
    <div>&nbsp;</div>
  </div>
</div>

<div class="container-fluid white-background" align="center">
  <div class="col-lg-12">
    <div class="content">
      <h1><b>Photography</b></h1>

      <div>&nbsp;</div>

      <p>A good snapshot at your wedding can stops a moment from running away. </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="column">
      <img src="{% static 'imgs/wedding_place/one.png' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/five.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/nine.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/twelve.jpg' %}" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'imgs/wedding_place/two.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/six.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/ten.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/thirteen.jpg' %}" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'imgs/wedding_place/three.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/seven.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/eleven.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/fourteen.jpg' %}" style="width:100%">
    </div>
    <div class="column">
      <img src="{% static 'imgs/wedding_place/four.jpg' %}" style="width:100%">
      <img src="{% static 'imgs/wedding_place/eight.jpg' %}" style="width:100%">
    </div>
  </div>
</div>

<div class="container-fluid no-padding-golden-background" align="center">
  <div class="col-lg-12">
    <div class="content">

      <div>&nbsp;</div>

      <h1><b>The location on the map</b></h1>

      <div>&nbsp;</div>

      <p>A good snapshot at your wedding can stops a moment from running away. </p>
    </div>
  </div>
</div>

<div class="golden-background" id="map" align="center">
  <div class="responsive-map-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.072335964464!2d2.3258297369477625!3d48.85683100673599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2a90280b7b%3A0xd43ae2983f290357!2sRestaurant%20de%20la%20Maison%20de%20l&#39;Am%C3%A9rique%20Latine!5e0!3m2!1sro!2sro!4v1597855526001!5m2!1sro!2sro" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

<div>&nbsp;</div>

<div class="container-fluid no-padding-white-background" align="center">
  <div class="col-lg-12">
    <div class="special-people">
      <h1><b>Bridesmaid && Groomsmen</b></h1>

      <div>&nbsp;</div>

      <p>Our bridesmaid and groomsmen participates in planning wedding-related events, such as a bridal shower or bachelorette party.</p>
    </div>
  </div>
</div>

{% load static %}
<div class="container-fluid white-background" align="center">
  <div class="special-people">
    <div class="col-lg-3" id="first-child">
      <p>For Oliviu</p>
      <figure class="snip1104 red">
        {% load static %}
        <img src="{% static 'imgs/bridesmaid1.jpg' %}">
        <figcaption>
          <h2>Ricardo  <span> Iiorente</span></h2>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <p>For Cristina</p>
      <figure class="snip1104">
        {% load static %}
        <img src="{% static 'imgs/groomsmen1.jpg' %}">
        <figcaption>
          <h2>Thomas  <span> Muller</span></h2>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <p>For Oliviu</p>
      <figure class="snip1104 red">
        {% load static %}
        <img src="{% static 'imgs/bridesmaid2.jpg' %}">
        <figcaption>
          <h2>Robert  <span> Lewa</span></h2>
        </figcaption>
      </figure>
    </div>
    <div class="col-lg-3">
      <p>For Cristina</p>
      <figure class="snip1104">
        {% load static %}
        <img src="{% static 'imgs/groomsmen2.jpeg' %}">
        <figcaption>
          <h2>Frank  <span> Ribery</span></h2>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div>&nbsp;</div>

<div class="no-padding-golden-background">
  <div class="container" align="center">
    <div class="col-lg-12">
      <div class="special-people">
        <h1><b>Godparents</b></h1>
        <div>&nbsp;</div>
        <p>Our bridesmaid and groomsmen participates in planning wedding-related events, such as a bridal shower or bachelorette party.</p>
      </div>
    </div>
  </div>
</div>

{% load static %}
<div class="golden-background">
  <div class="container-fluid" align="center">
    <div class="special-people">
      <div class="col-lg-3"id="first-child">
        <p>For Cristina</p>
        <figure class="snip1104 red">
          {% load static %}
          <img src="{% static 'imgs/bridesmaid1.jpg' %}">
          <figcaption>
            <h2>Paolo  <span> Dybala</span></h2>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3">
        <p>For Cristina</p>
        <figure class="snip1104">
          {% load static %}
          <img src="{% static 'imgs/groomsmen1.jpg' %}">
          <figcaption>
            <h2>Cristiano  <span> Ronaldo</span></h2>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3">
        <p>For Oliviu</p>
        <figure class="snip1104 red">
          {% load static %}
          <img src="{% static 'imgs/bridesmaid2.jpg' %}">
          <figcaption>
            <h2>Elena  <span> Cardone</span></h2>
          </figcaption>
        </figure>
      </div>
      <div class="col-lg-3">
        <p>For Oliviu</p>
        <figure class="snip1104">
          {% load static %}
          <img src="{% static 'imgs/groomsmen2.jpeg' %}">
          <figcaption>
            <h2>Grant  <span> Cardone</span></h2>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>

<div class="paralax">
  <h1>“A happy marriage is a long conversation which always seems too short.”</h1>
</div>

{% endblock %}
