{% extends 'views/base.html' %}

{% block content %}

<div class="wallpaper">
  <div class="black-background">
    <div class="container">
      <div class="col-lg-12">
        <div class="brand" data-aos="fade-down">
          <a href="/"><h1>Cigan Oliviu David</h1></a>
          <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>

  <label>
      <input type="checkbox">
      <span class="menu"> <span class="hamburger"></span> </span>
      <ul class="deactivate-click">
        <li> <a class="deactivate-click" href="/"><i class="fas fa-home"></i> Home</a> </li>
        <li> <a class="deactivate-click" href="books/"><i class="fas fa-book"></i> Books Recommandation</a> </li>
        <li> <a class="deactivate-click" href="blog/"><i class="fas fa-blog"></i> Personal Blog</a> </li>
      </ul>
  </label>

  <div class="welcome">
    <div class="black-background">
      <div class="container" data-aos="fade-up">
        <div class="col-lg-12">
          <div class="welcome-message">
            <h1 class="message">Welcome, it's nice to have you here!</h1>
            <a href="#" class="scroll-down"> <i class="fa fa-arrow-down" aria-hidden="true"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-background" id="about-me" align="center">
  <div class="container">
    <div class="about-me">
      <div class="col-md-4" data-aos="fade-right">
        <div class="box">
          <div class="imgBox">
            {% load static %}
            <img src="{% static 'img/me.jpg' %}" alt="me">
          </div>
          <div class="content">
            <h2>Cigan Oliviu David</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              <div>&nbsp</div>
              <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8" data-aos="fade-left">
        <h1>Clean Coder</h1>
        <div>&nbsp;</div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
        <div>&nbsp</div>
        <a href="blog/">Check out my personal blog!</a>
      </div>
    </div>
  </div>
</div>

<div class="special-white-background">
  <div class="container-fluid" align="center">
   <div class="counter-box">
      <div class="col-md-4">
        <div class="counter-child-one" data-aos="fade-right">
          <h1> Ideas </h1>
          <span class="counter" data-from="0" data-to="120" style="font-size: 350%"> 54 </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="counter-child-two" data-aos="fade-up">
          <h1> Years of experience </h1>
          <span class="counter" data-from="0" data-to="4" style="font-size: 350%"> 35 </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="counter-child-three" data-aos="fade-left">
          <h1> Projects </h1>
          <span class="counter" data-from="0" data-to="50" style="font-size: 350%"> 50 </span>
        </div>
      </div>
   </div>
 </div>
</div>

<div class="gray-background">
  <div class="container" align="center" id="content">
    <div class="content">
       <div class="col-md-4">
         <div class="differentiator" data-aos="fade-right">
           <h3><i class="fa fa-code" aria-hidden="true"></i> Modern Frameworks</h3>
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
            </p>
         </div>
         <div>&nbsp;</div>
         <div class="differentiator" data-aos="fade-right">
           <h3><i class="fa fa-lock" aria-hidden="true"></i> Secured Applications</h3>
           <p>
             Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
           </p>
          </div>
       </div>
       <div class="col-md-4">
         <div class="differentiator" data-aos="fade-up">
          <h3><i class="fa fa-pie-chart" aria-hidden="true"></i> Agile Environment</h3>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
          </p>
         </div>
         <div>&nbsp;</div>
         <div class="differentiator" data-aos="fade-up">
           <h3><i class="fa fa-gamepad" aria-hidden="true"></i> Gamified Working</h3>
           <p>
             Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
           </p>
          </div>
       </div>
       <div class="col-md-4">
         <div class="differentiator" data-aos="fade-left">
          <h3><i class="fa fa-mobile" aria-hidden="true"></i> Responsive Design</h3>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
          </p>
         </div>
         <div>&nbsp;</div>
         <div class="differentiator" data-aos="fade-left">
          <h3><i class="fa fa-random" aria-hidden="true"></i> Team Oriented</h3>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply m sections 1.10.32 and 1.10.33 of ply m sections 1.10.32 and 1.10.33 of
          </p>
         </div>
       </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="base" align="center">
    <section class="model-1" data-aos="fade-right">
      <div class="graph">Web Development</div><span tooltip="86%" class="tooltip">Web Development</span>
    </section>
    <section class="model-2" data-aos="fade-up">
      <div class="graph">Unit-Tests</div><span tooltip="85%" class="tooltip">Unit-Tests</span>
    </section>

    <section class="model-3" data-aos="fade-down">
      <div class="multi-graph">Clean Coder
        <div data-name="Clean Arhitecture" class="graph arhitecture"> </div>
        <div data-name="Clean Code" class="graph code"></div>

      </div>
    </section>
      <section class="model-4" data-aos="fade-left">
      <div class="graph">Automatisation</div><span tooltip="72%" class="tooltip">Automatisation</span>
    </section>
  </div>
</div>

<div class="gray-background" align="center">
    <div class="container">
      <div class="col-lg-12">
        <div class="content" data-aos="fade-down">
          <h1>Projects I've worked at!</h1>
        </div>
      </div>
    </div>
</div>

<div class="no-padding-gray-background" align="center">
  <div class="container">
      <div class="col-md-4 col-sm-4" data-aos="fade-right">
        {% load static %}
      <a href="#">
        <div class="box-project">
           <img src="{% static 'img/projects/PersonalWebApp.png' %}">
           <div class="box-content">
               <h3 class="name">Personal Blog</h3>
               <span class="post">My presentation WebApp</span>
               <div>&nbsp;</div>
               <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js"></i> <i class="fab fa-python"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
               <span class="smaller-post">Backend powered by Django.</span>
           </div>
       </div>
      </a>
      </div>
       <div class="col-md-4 col-sm-4" data-aos="fade-down">
         <a href="#">
           <div class="box-project">
              <img src="{% static 'img/projects/WeddingProduct.png' %}">
              <div class="box-content">
                  <h3 class="name">Wedding App</h3>
                  <span class="post">A wedding system manager.</span>
                  <div>&nbsp;</div>
                  <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js"></i> <i class="fab fa-python"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
                  <span class="smaller-post">Backend powered by Django.</span>
              </div>
          </div>
         </a>
      </div>
      <div class="col-md-4 col-sm-4" data-aos="fade-left">
        <a href="#">
          <div class="box-project">
             <img src="{% static 'img/projects/no-image.jpg' %}">
             <div class="box-content">
                 <h3 class="name">Longshot</h3>
                 <span class="post">Presentation app for Longshot band</span>
                 <div>&nbsp;</div>
                 <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-sass"></i> <i class="fab fa-vuejs"></i> <i class="fab fa-laravel"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
                 <span class="smaller-post">Backend powered by Laravel.</span>
             </div>
         </div>
        </a>
     </div>
  </div>
</div>

<div class="no-padding-gray-background" align="center">
  <div class="container">
      <div class="col-md-4 col-sm-4" data-aos="fade-right">
        {% load static %}
      <a href="#">
        <div class="box-project">
           <img src="{% static 'img/projects/no-image.jpg' %}">
           <div class="box-content">
               <h3 class="name">Cigan Enterprize</h3>
               <span class="post">Digital Solutions Provider</span>
               <div>&nbsp;</div>
               <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-vuejs"></i> <i class="fab fa-python"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
               <span class="smaller-post">Backend powered by Django.</span>
           </div>
       </div>
      </a>
      </div>
       <div class="col-md-4 col-sm-4" data-aos="fade-down">
         <a href="#">
           <div class="box-project">
              <img src="{% static 'img/projects/no-image.jpg' %}">
              <div class="box-content">
                  <h3 class="name">InfiniteShoot</h3>
                  <span class="post">PhotoShoot Business Concept</span>
                  <div>&nbsp;</div>
                  <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js"></i> <i class="fab fa-python"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
                  <span class="smaller-post">Backend powered by None.</span>
              </div>
          </div>
         </a>
      </div>
      <div class="col-md-4 col-sm-4" data-aos="fade-left">
        <a href="#">
          <div class="box-project">
             <img src="{% static 'img/projects/no-image.jpg' %}">
             <div class="box-content">
                 <h3 class="name">ClientsManagementSystem</h3>
                 <span class="post">Clients Administration System</span>
                 <div>&nbsp;</div>
                 <span class="post"><i class="fab fa-html5"></i> <i class="fab fa-css3-alt"></i> <i class="fab fa-js"></i> <i class="fab fa-python"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-font-awesome"></i></span>
                 <span class="smaller-post">Backend powered by None.</span>
             </div>
         </div>
        </a>
     </div>
  </div>
</div>

<div class="white-background" align="center">
  <div class="container">
    <div class="col-lg-12">
      <div class="content" data-aos="fade-down">
        <h1>Books I highly recommend!</h1>
      </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-4" data-aos="flip-left">
         {% load static %}
         <img src="{% static 'img/books/clean_code.jpg'%}">
         <h2>Clean Code</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?dchild=1&keywords=clean+code&qid=1596552228&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-4" data-aos="flip-up">
         <img src="{% static 'img/books/clean_arhitecture.jpg'%}">
         <h2>Clean Arhitecture</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164/ref=sr_1_2?dchild=1&keywords=clean+code&qid=1596552246&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-4" data-aos="flip-right">
         <img src="{% static 'img/books/clean_coder.jpg'%}">
         <h2>Clean Coder</h2>
         <h4>Bob Martin</h4>
         <a href="https://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073/ref=sr_1_3?dchild=1&keywords=clean+code&qid=1596552246&sr=8-3" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>

<div class="white-background">
  <div class="container" align="center">
    <div class="books">
       <div class="col-md-4" data-aos="flip-left">
         {% load static %}
         <img src="{% static 'img/books/implementation_patterns.jpg'%}">
         <h2>Implementation Patterns</h2>
         <h4>Kent Beck</h4>
         <a href="https://www.amazon.com/Implementation-Patterns-Kent-Beck/dp/0321413091/ref=sr_1_1?dchild=1&keywords=implementation+patterns&qid=1596552275&sr=8-1" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-4" data-aos="flip-up">
         <img src="{% static 'img/books/life_3.jpeg'%}">
         <h2>Life 3.0</h2>
         <h4>Max Tegmark</h4>
         <a href="https://www.amazon.com/Life-30-Max-Tegmark-audiobook/dp/B0742JQF31/ref=sr_1_2?dchild=1&keywords=life+3&qid=1596552978&sr=8-2" target="_blank"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
       <div class="col-md-4" data-aos="flip-right">
         <img src="{% static 'img/books/refactoring.jpg'%}">
         <h2>Refactoring</h2>
         <h4>Martin Fowler</h4>
         <a href="https://www.amazon.com/Refactoring-Improving-Existing-Addison-Wesley-Signature/dp/0134757599/ref=sr_1_1?dchild=1&keywords=refactoring&qid=1596553014&s=audible&sr=1-1"><button type="button" class="btn btn-info">Buy it now</button></a>
       </div>
    </div>
  </div>
</div>
<div class="white-background">
  <div class="container" align="center" data-aos="fade-down">
    <a href="books/">Check out all books!</a>
  </div>
</div>

<div class="footer" align="center">
  <div class="container-fluid">
    <div class="col-lg-12">
      <h1 data-aos="fade-up">Have questions? Call 0755577458</h1>
      <div>&nbsp;</div>
      <div class="line" data-aos="fade-up"></div>
      <div>&nbsp;</div>
      <div class="non-class" data-aos="fade-up">
        <ul>
          <a href="/"><li>Home</li></a>
          <a href="/books/"><li>Books Recommandation</li></a>
          <a href="/blog/"><li>Personal Blog</li></a>
        </ul>
        <div>&nbsp;</div>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/oliviu-david-c-72489015b/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>  <a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> <a href="https://github.com/CiganOliviu" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> <a href="https://www.instagram.com/ciganoliviu/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
      </div>
      <div>&nbsp;</div>
      <h4>Copyright &copy; Cigan Oliviu David all rights reserved</h4>
    </div>
  </div>
</div>

{% endblock %}
