{% extends 'layouts/main_layout.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login_style_cms.css' %}">
{% endblock %}

{% block content %}
    <div class="container" align="center">
        <div class="col-lg-12">
            <div class="items">
                <h1 id="title">Check your email box</h1>
                <p>We've emailed you your instructions for setting your password. You should receive the email shortly!</p>
            </div>
        </div>
    </div>
{% endblock %}