@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: url('/static/imgs/index_wallpaper.jpg');
  min-height: 100vh;

  @media (min-width: 768px) {
      min-height: 20vw;
  }

  @media (min-width: 1200px) {
      min-height: 400px;
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background-color: #fff;
  border-radius: 5px;
  width: 25em;
  height: auto;
}

.items {
  display: flex;
  flex-direction: column;
}

.items input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  width: 250px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1.5px solid;
  border-bottom-color: grey;
  font-weight: 700;
  color: #585858;
  opacity: 0.55;
}

#title {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 0.5;
}

#text {
  text-align: center;
  opacity: 0.5;
}

#button {
  padding: 20px 30px;
  margin-top: 30px;
  outline: none;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(156,180,246);
  background: radial-gradient(circle, rgba(156,180,246,1) 0%, rgba(93,93,252,1) 51%);
  color: #ffffff;
  transition: all 500ms ease;
}

#button:active {
  transform: translateY(2px);
}

#button text {
  opacity: 0.5;
}

#button:hover {
  opacity: 0.6;
    transition: all 500ms ease;
}

#sign {
  margin-top: 4em;
}

#sign a{
  text-align: center;
  letter-spacing: 5px;
  cursor: pointer;
  color: radial-gradient(circle, rgba(156,180,246,1) 0%, rgba(93,93,252,1) 51%);
  font-weight: bolder;
  text-decoration: none;
  transition: all 500ms ease;
}

#sign a:active {
  transform: translateY(2px);
}

#sign a:hover {
    color: #000000;
    transition: all 500ms ease;
}

::placeholder {
  color: grey;
  text-align: center;
  letter-spacing: 2px;
}